<div class="about-me">
  <h1 class='page-header'>About Jewls</h1>
  <div class="two-columns">
    <p class='about-p'>I am a web developer located in Long Beach, CA. I previously worked at Lyft as an operations manager and watched the company scale from 7 cities to international operation. In 2019 I began the Software Engineering Immersive Bootcamp from General Assembly and I'm set to complete the program in January 2020.</p><br>
    <div class="skills">
      <h2>Skills</h2>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>JQuery</li>
        <li>NodeJS</li>
        <li>ExpressJS</li>
        <li>MongoDB</li>
        <li>React</li>
        <li>PostgreSQL</li>
        <li>GitHub</li>
        <li>Agile Development</li>
      </ul>
    </div>
  </div>
  <div class="links">
    <a class='colab-link' href="https://www.linkedin.com/in/jewls-krueger/">LinkedIn</a><br>
    <a class='colab-link' href="https://github.com/jewlsrules">GitHub</a>
  </div>
</div>
