<div class="about-me">

  <h1>About Jewls</h1>
  <p>I am a web developer located in Long Beach, CA. I previously worked at Lyft as an operations manager and watched the company scale from 7 cities to international operation. In 2019 I began the Software Engineering Immersive Bootcamp from General Assembly and I'm set to complete the program in January 2020.</p>

  <h2>Links:</h2>
  <a href="https://www.linkedin.com/in/jewls-krueger/">- LinkedIn</a><br>
  <a href="https://github.com/jewlsrules">- GitHub</a>

</div>
