<div class="projects">
  <h1 class='page-header'>Projects</h1>
  <div class="project-card">
    <a href="https://crowdsomm.herokuapp.com/"><img src="https://imgur.com/ld2hVfY.png" alt="CrowdSomm"></a>
    <a class='big-link' href="https://crowdsomm.herokuapp.com/">CrowdSomm</a>
    <hr>
    <div class="project-desc">
      <p>CrowdSomm is built with Node, Express, Postgres, Bootstrap, JQuery, & Mongoose and hosted on Heroku. It crowdsources ratings for dishes and drinks to answer the question "So, what's good here?".</p>
      <a href='https://github.com/jewlsrules/CrowdSomm'>Front End Repository</a>
      <a href='https://github.com/jewlsrules/php-crowdsomm'>Back End Repository</a>
    </div>
  </div>
  <div class="project-card">
    <a href="https://react-app-tracker.herokuapp.com/"><img src="https://imgur.com/h42JJ5i.png" alt="Job Application Tracker"></a>
    <a class='big-link' href="https://react-app-tracker.herokuapp.com/">Job Application Tracker</a>
    <hr>
    <div class="project-desc">
      <p>This Job Application Tracker web app was built using React and Create-React-App with a Postgres PHP API and was built in collaboration with <a href='https://github.com/ashbrick'>Ashley Brickhouse</a></p>
      <a href='https://github.com/jewlsrules/react-frontend'>Front End Repository</a>
      <a href='https://github.com/jewlsrules/react-project'>Back End Repository</a>
    </div>
  </div>
  <div class="project-card">
    <a href="https://hook-and-needle.herokuapp.com/"><img src="https://i.imgur.com/evg5sYt.png" alt="Hook & Needle"></a>
    <a class='big-link' href="https://hook-and-needle.herokuapp.com/">Hook & Needle</a>
    <hr>
    <div class="project-desc">
      <p>Hook & Needle is a web app built with Node, Express, Bootstrap, & Mongoose and hosted on Heroku. It is an online community for knitters and crocheters where they can add project insperation, track their progress, and view other members' projects.</p>
      <a href='https://github.com/jewlsrules/craft-project'>GitHub Repository</a>
    </div>
  </div>
  <div class="project-card">
    <a href="https://songbirds.herokuapp.com/"><img src="https://i.imgur.com/f0Y2d5c.png" alt="SongBird"></a>
    <a class='big-link' href="https://songbirds.herokuapp.com/">SongBird</a>
    <hr>
    <div class="project-desc">
      <p>SongBird is a single page app built with Angular, Node, Express, & Mongoose and hosted on Heroku with data hosted on MongoDB Atlas. Logged in users can create and edit collections of music videos hosted on YouTube. This was created with <a class="colab-link" href="http://github.com/aylaex">Ayla Ex</a> & <a class="colab-link" href="http://www.github.com/beccaking">Becca King.</a></p>
      <a href='https://github.com/beccaking/Songbirds'>GitHub Repository</a>
    </div>
  </div>
  <div class="project-card">
    <a href="https://jewlsrules.github.io/PokemonBattle//"><img src="https://i.imgur.com/Y6UwKU9.png" alt="Pokemon Battle"></a>
    <a class='big-link' href="https://jewlsrules.github.io/PokemonBattle//">Pokemon Battle</a>
    <hr>
    <div class="project-desc">
      <p>My first web-based project, Pokemon Battle is a game built entirely with HTML, CSS, and JQuery and is connected to the Pokemon API. </p>
      <a href="https://github.com/jewlsrules/PokemonBattle">GitHub Repository</a>
    </div>
  </div>
</div>
