<div class="projects">
  <h1 class='page-header'>Projects</h1>
  <div class="project-card">
    <a href="https://hook-and-needle.herokuapp.com/"><img src="https://i.imgur.com/evg5sYt.png" alt="Hook & Needle"></a>
    <a class='big-link' href="https://hook-and-needle.herokuapp.com/">Hook & Needle</a>
    <hr>
    <div class="project-desc">
      <p>Hook & Needle is an web app built with Node, Express, Bootstrap, & Mongoose and hosted on Heroku. It is an online community for knitters and crocheters where they can add project insperation, track their progress, and view other members' projects.</p><br>
      <a href='https://github.com/jewlsrules/craft-project'>GitHub Repository</a>
    </div>
  </div>
  <div class="project-card">
    <a href="https://songbirds.herokuapp.com/"><img src="https://i.imgur.com/f0Y2d5c.png" alt="SongBird"></a>
    <a class='big-link' href="https://songbirds.herokuapp.com/">SongBird</a>
    <hr>
    <div class="project-desc">
      <p>SongBird is a single page app built with Angular, Node, Express, & Mongoose and hosted on Heroku with data hosted on MongoDB Atlas. Logged in users can create and edit collections of music videos hosted on YouTube. This was created with <a class="colab-link" href="http://github.com/aylaex">Ayla Ex</a> & <a class="colab-link" href="http://www.github.com/beccaking">Becca King.</a></p><br>
      <a href='https://github.com/beccaking/Songbirds'>GitHub Repository</a>
    </div>
  </div>
  <div class="project-card">
    <a href="https://jewlsrules.github.io/PokemonBattle//"><img src="https://i.imgur.com/Y6UwKU9.png" alt="Pokemon Battle"></a>
    <a class='big-link' href="https://jewlsrules.github.io/PokemonBattle//">Pokemon Battle</a>
    <hr>
    <div class="project-desc">
      <p>My first web-based project, Pokemon Battle is a game built entirely with HTML, CSS, and JQuery and is connected to the Pokemon API. </p><br>
      <a href="https://github.com/jewlsrules/PokemonBattle">GitHub Repository</a>
    </div>
  </div>
</div>
